@require "imports/base"

.container
    min-height 100vh
    width 100vw

section.main
    width 90%
    flex-direction column
    margin 0 auto

    .heading
        flex-direction column
        min-height 40vh
        text-align center
        margin 6vh 2vh

        h1
            font-size 3rem
            color #111
            width 90%

        p
            font-size 1.2rem
            color #555
            margin-top 20px
            width 90%

    .buttons
        justify-content flex-start
        padding-bottom 15px
        max-width 1150px
        width 100%
        flex-direction column
        align-items flex-start

        .top
            flex-wrap wrap
            width 100%
            justify-content flex-start

        .item
            padding 5px

        .select-wrapper:before
            content '▼'
            position absolute
            right 20px
            margin-top 6px
            width 0
            height 0
            color #bbb
            z-index 2
            font-size 0.8rem

        input
            margin-right 6px

        select
            margin 0 5px
            background #fff
            border none
            border-bottom 2px solid #bbb
            border-radius 0px
            padding 5px 20px 5px 5px
            -webkit-appearance none
            -moz-appearance none
            font-family Cabin
            font-size 0.9rem

        .selectr-tag
            background #737373
            color #fff
            border-radius 3px
            margin 0 3px
            padding 2px 20px 2px 5px
            font-size 1rem

         .selectr-placeholder
            color #737373

    .content
        max-width 1100px
        flex-wrap wrap
        align-items flex-start
        justify-content space-around
        margin 0 -10px
        width 100%

        @import "imports/card"

footer
    margin 0 auto 70px auto
    flex-wrap wrap
    padding-bottom 15px
    max-width 1150px
    width 100%
    flex-direction row

    .item
        width 100%

@import "imports/a11y"
