doctype html

html(lang='en')

    head

        include ./includes/head.pug

    body.flex
        
        .container

            section.main

                .heading.flex
                    h1 Swag For Dev
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                .buttons.flex

                    .item
                        label Show
                        select(name="show")
                            for filter in ['All difficulties', 'Easy', 'Medium', 'Hard']
                                option(value=filter) #{filter}

                    .item
                        label In order of
                        select(name="order")
                            for filter in ['Alphabetical', 'Alphabetical, reversed', 'Difficulty', 'Difficulty, reversed']
                                option(value=filter) #{filter}

                .content.flex

                    .item

                        .title.flex
                            h1 Digital Ocean
                            .difficulty

                        p.swag Stickers

                        img(src="https://camo.githubusercontent.com/5f5c4eb51631b3a443b0cb1241ba2ce36e422545/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f436c4c4b6f5244574541417667714b2e6a7067")

                        p.description
                            | Deserunt cupidatat labore cillum aute eiusmod elit cupidatat non ex commodo. Officia aute deserunt occaecat aliquip ipsum cillum excepteur commodo sit magna voluptate pariatur tempor anim. Pariatur minim Lorem esse in labore id ea adipisicing. Aliquip sit ex consequat quis ipsum.

                        a(href="http://do.co/currents-survey") Go to page

                    .item

                        .title.flex
                            h1 Digital Ocean
                            .difficulty

                        p.swag Stickers

                        img(src="https://camo.githubusercontent.com/5f5c4eb51631b3a443b0cb1241ba2ce36e422545/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f436c4c4b6f5244574541417667714b2e6a7067")

                        p.description
                            | Deserunt cupidatat labore cillum aute eiusmod elit cupidatat non ex commodo. Officia aute deserunt occaecat aliquip ipsum cillum excepteur commodo sit magna voluptate pariatur tempor anim. Pariatur minim Lorem esse in labore id ea adipisicing. Aliquip sit ex consequat quis ipsum.

                        a(href="http://do.co/currents-survey") Go to page

                    .item

                        .title.flex
                            h1 Digital Ocean
                            .difficulty

                        p.swag Stickers

                        img(src="https://camo.githubusercontent.com/5f5c4eb51631b3a443b0cb1241ba2ce36e422545/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f436c4c4b6f5244574541417667714b2e6a7067")

                        p.description
                            | Deserunt cupidatat labore cillum aute eiusmod elit cupidatat non ex commodo. Officia aute deserunt occaecat aliquip ipsum cillum excepteur commodo sit magna voluptate pariatur tempor anim. Pariatur minim Lorem esse in labore id ea adipisicing. Aliquip sit ex consequat quis ipsum.

                        a(href="http://do.co/currents-survey") Go to page

                    .item

                        .title.flex
                            h1 Digital Ocean
                            .difficulty

                        p.swag Stickers

                        img(src="https://camo.githubusercontent.com/5f5c4eb51631b3a443b0cb1241ba2ce36e422545/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f436c4c4b6f5244574541417667714b2e6a7067")

                        p.description
                            | Deserunt cupidatat labore cillum aute eiusmod elit cupidatat non ex commodo. Officia aute deserunt occaecat aliquip ipsum cillum excepteur commodo sit magna voluptate pariatur tempor anim. Pariatur minim Lorem esse in labore id ea adipisicing. Aliquip sit ex consequat quis ipsum.

                        a(href="http://do.co/currents-survey") Go to page