doctype html

html(lang='en')

	head

		include ./includes/head.pug

	body.flex

		include ./includes/body.pug

	script(src='https://unpkg.com/mobius1-selectr@2.4.4/dist/selectr.min.js')

	script(defer src=bustedAssets.js)
