title devSwag

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="description" content="swag opportunities for developers")

link(rel='alternate' type='application/rss+xml' title='devSwag - 😎 swag opportunities for developers' href='/feed/rss')
link(rel='alternate' type='application/atom+xml' title='devSwag - 😎 swag opportunities for developers' href='/feed/atom')
link(rel='alternate' type='application/json' title='devSwag - 😎 swag opportunities for developers' href='/feed/json')

link(rel="icon" type="image/png" href="/assets/img/logo.png")
link(rel="apple-touch-icon" size="128x128" href="/assets/img/logo.png")

link(rel="stylesheet" href=bustedAssets.css)
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin")

link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/mobius1-selectr@2.4.8/dist/selectr.min.css')

noscript
    style.
        .buttons {display: none}

