title devSwag

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="description" content="swag opportunities for developers")

meta(name="og:title" content="devSwag")
meta(name="og:url" content="https://devswag.io/")
meta(name="og:type" content="website")
meta(name="og:description" content="swag opportunities for developers")
meta(name="og:image" content="https://res.cloudinary.com/pul/image/upload/v1632838202/opensource/devswag_thumbnail.png")

link(rel="icon" type="image/png" href="/assets/img/logo.png")
link(rel="apple-touch-icon" size="128x128" href="/assets/img/logo.png")

style
	!=inlinedAssets.get('css/index.css')

link(rel="stylesheet" data-href="https://cdn.jsdelivr.net/npm/mobius1-selectr@2.4.13/dist/selectr.min.css")

noscript
	style.
		.buttons, .newsletter {display: none}
