// https://webaim.org/techniques/css/invisiblecontent/#techniques CSS Clip
.sr-only
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
