@import "colors"

a
	color link-color
	transition .2s
	&:hover
		color link-hover-color

.btn.secondary
	color white-color
	font-size 1.8rem
	padding .4rem 1rem
	margin-left 1rem
	border-radius .6rem
	border 2px solid link-color
	text-decoration none
	display inline-block
	&:hover
		background link-color
		color white-color

