.item
	width 100%
	max-width 350px
	padding 30px 10px
	border-top 1px solid #ddd
	display none

	@media only screen and (max-width: 500px)
		max-width none

	.title
		justify-content space-between

		h1
			font-size 2rem

		.difficulty
			height 2rem
			width 2rem
			border-radius 50%
			border 2px solid black

			&.easy
				background #73f440

			&.medium
				background #FFFF00

			&.hard
				background #FF0009

	p
		font-size 1.2rem
		line-height 1.4
		color #222

		&.swag
			margin 5px -3px 10px -3px

			span
				background #737373
				color #fff
				border-radius 3px
				margin 0 3px
				padding 2px 5px
				font-size 1rem

		&.description
			margin 10px 0

	a
		color #444
		text-decoration none
		border-bottom 2px solid #444

	img
		height 100%
		width auto
		transition all 300ms linear

	.img-container
		height 300px
		width 100%
		overflow hidden
		padding-bottom 15px

	&:hover
		img
			transform rotate(3deg) scale(1.05)
		a
			border none
