primary-color = #153e68
secondary-color = #3faafb
tertiary-color = #2868cb
tertiary-hover-color = darken(tertiary-color, 20%)
white-color = #ffffff
grey-color = #ededed
grey-dark-color = #bcbcbc
black-color = #000000

link-color = #67d0a1
link-hover-color = lightness(link-color, 80%)

title-color = black-color
title-hover-color = lightness(title-color, 60%)

// TAGS

hacktoberfest-color = #f35527
hacktoberfest-bg = #ffd0b5
clothing-color = #7cb027
clothing-bg = #e2f7c2
stickers-color = #3a94c1
stickers-bg = #d1eefc
badges-color = #8719e0
badges-bg = #dac4ff
accessories-color = #c99a2d
accessories-bg = #f8e3a3
device-color = #b92625
device-bg = #facdcd
