primary-color = #153e68
secondary-color = #3faafb
tertiary-color = #2868cb
white-color = #ffffff
grey-color = #ededed
grey-dark-color = #bcbcbc
black-color = #000000

link-color = #67d0a1
link-hover-color = lightness(link-color, 80%)

