.container.dark
	background-color #222
	color white
	
	.tooltip
		color #222
		background-color white
		border 5px solid white
	
	section.main 
		.heading 
			h1
				color white

	section.main 
		.heading 
			p
				color white

	section.main 
		.content 
			background-color #222

			.item
				.title
					h1
						color white
				p.description
					color white
					

	section.main 
		.content 
			.item 
				a
					color #d11717
					
