.dark
	background-color #222
	color white
	
	.container
		#color-switch
			color white
	
	section.main 
		.heading 
			h1,p
				color white
		.content
			background-color #222
			.item
				.title
					h1
						color white
				a		
					color #d11717
			p.description
				color white
					


