@media screen and (max-width: 600px)
	.btn.secondary
		margin-top 10px
	section.main
		.hero
			.heading
				padding 4rem 2rem
		.controls
			justify-content left
		.buttons
			.item, .select-wrapper, select
				width 100%
	footer
		padding 5rem 5rem 8rem
