.nav
	position fixed
	top 0
	width 100%
	padding 0 0
	text-align center
	background-color white
	z-index 10

	ul
		width 90%
		margin 0 auto
		list-style none

		a
			color #333
			padding 24px 16px
			text-decoration none
			display inline-block