*
	padding 0
	margin 0
	position relative
	box-sizing border-box
	text-rendering optimizeLegibility


*.flex
	display flex
	align-items center
	justify-content center

*.noselect
	user-select none

*.nodisplay
	display none

*.nodrag
	user-drag none
	-webkit-user-drag none

*:focus:not(:focus-visible)
	outline: none

*.container
	width 100%
	height 100%
	justify-content center
