doctype html

html(lang='en')

	head

		include ./includes/head.pug

	body.flex

		include ./includes/body.pug

		script(defer src=bustedAssets.js)
		script(defer src="https://cdn.jsdelivr.net/npm/mobius1-selectr@2.4.13/dist/selectr.min.js")
		script(defer src="https://unpkg.com/@popperjs/core@2")
		script(defer src="https://unpkg.com/tippy.js@6.2.3/dist/tippy-bundle.umd.js")
