doctype html

html(lang="en")

	head

		include ./includes/head.pug

	body.flex

		include ./includes/body.pug

		script(defer src=bustedAssets.js)

		form(name='contact' method='POST' data-netlify-recaptcha='true' data-netlify='true')
			p
				label
					| Name:
					input(type='text' name='name')
			p
				label
					| Email address:
					input(type='text' name='email')
			p
				label
					| Opportunity name:
					input(type='text' name='swag-name')
			p
				label
					| Opportunity URL:
					input(type='text' name='swag-url')
			p
				label
					| Opportunity description:
					textarea(name='swag-description')
			p
				label
					| Comment:
					textarea(name='comment')
			div(data-netlify-recaptcha='true')
			p
				button(type='submit') Send

		script(defer src="https://cdn.jsdelivr.net/npm/loading-attribute-polyfill@1.5.3/loading-attribute-polyfill.min.js")
		script(defer src="https://cdn.jsdelivr.net/npm/mobius1-selectr@2.4.13/dist/selectr.min.js")
