doctype html

html(lang='en')

	head

		include ./includes/head.pug

	body.flex

		include ./includes/body.pug

		script(defer src=bustedAssets.js)
		script(defer src='https://cdn.jsdelivr.net/npm/mobius1-selectr@2.4.8/dist/selectr.min.js')
