@require "imports/base"

a
	color link-color
	transition .2s
	text-decoration none
	&:hover
		color link-hover-color

.btn.secondary
	color white-color
	font-size 1.8rem
	padding .4rem 1rem
	margin-left 1rem
	border-radius .6rem
	border 2px solid link-color
	display inline-block
	&:hover
		background link-color
		color white-color

.github
	display flex
	background tertiary-color
	color white-color
	border none
	font-size 1.8rem
	padding .8rem 1rem
	margin-left 1rem
	border-radius .6rem
	&:hover
		background darken(tertiary-color, 20%)
		color white-color
	#logo
		justify-self start
		width 20px
		height 20px
		margin-right .8rem

.container
	min-height 100vh
	width 100vw
	overflow-x hidden

.hidden
	display none

.box
	width 100%

section.main
	flex-direction column
	margin 0 auto

	.controls
		flex-wrap wrap
		background white-color
		padding 0 2rem
		border-radius 10px
		border 1px solid grey-color
		margin 4rem 2rem 0

	.banner
		text-align center
		padding 1.2rem
		background primary-color
		color white

	.hero
		background url('/assets/img/tiny-grid.svg') repeat
		background-size 120px

		.heading
			flex-direction column
			max-width 90rem
			text-align center
			padding 10rem 6rem

			.logo
				img
					max-width 240px
					width 100%
					height 70px
			.alt-logo
				visibility hidden
				display block
				font-size 1.2rem
			h2
				font-size 2.4rem
				font-family $default-font-family-mono
				color white-color
				padding .4rem .8rem
				border 2px dashed white-color
				border-radius 6px
				margin-bottom 2rem
			p
				font-size 2.2rem
				font-weight bold
				line-height 1.4
				max-width 72rem
				color white-color

	.buttons
		justify-content flex-start
		max-width 1140px
		width 100%
		flex-direction column
		align-items flex-start

		.top
			flex-wrap wrap
			width 100%
			justify-content flex-start

		.item
			margin 10px 20px
			&:last-child
				margin-right 0
			.title
				margin-right 8px

		.select-wrapper
			position relative

			&:before
				position absolute
				top 50%
				right 10px
				width 0
				height 0
				content ''
				transform rotate(0) translate3d(0, -50%, 0)
				border-width 4px 4px 0
				border-style solid
				border-color #6c7a86 transparent transparent
				pointer-events none

		input
			margin-right 6px

		select
			border none
			border-radius 5px
			border 2px solid grey-dark-color
			padding 5px 20px 5px 5px
			appearance none
			font-family $default-font-family
			font-size 1.6rem
			cursor pointer

		@import "imports/selectr-theme"

	.content
		max-width 1140px
		flex-wrap wrap
		align-items flex-start
		justify-content space-around
		margin 0 -10px
		padding 20px
		width 100%

		@import "imports/card"

section.newsletter
	background white-color
	border-top 1px solid grey-color

footer
	font-size 1.8rem
	margin 0 auto
	padding 10rem
	width 100%
	flex-flow column wrap
	text-align center
	color white-color
	background primary-color
	.item
		margin-bottom 5px
	.item#logo-footer
		max-width 200px
		width 100%
		margin-bottom 20px
		display inline-block
	#github-logo
		width 50px
		height 50px
		margin-top 30px


@import "imports/a11y"
@import "imports/mediaquery"

#content .item.visible
	display initial
